<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<%= render :partial => "/layouts/head"%>

<div class="container clearfix">
  <div class="main_content clearfix">
    <%= render :partial => "/layouts/header"%>

    <div class="span-5 append-1 left_nav">
      <% if @left_nav %>
        <hr/>
        <%= render :partial => @left_nav %>
        <hr/>
      <% end %>
      <ul>
        <li><a href="">Contact Us</a></li>
        <li><a href="">News and Events</a></li>
        <li><a href="">Download Brochure</a></li>
      </ul>
    </div>
    <div class="span-17 last">
      <h1><%= @page_title%></h1>
      <p>
        <%= yield %>
      </p>
    </div>

  </div>
  <%= render :partial => "/layouts/footer"%>  
</div>

</html>