<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<%= render :partial => "/layouts/head"%>

<div class="container clearfix">
  <div class="main_content clearfix">
    <%= render :partial => "/layouts/header"%>

    <div class="span-7 append-1 left_nav">
      <hr/>
        <%= render :partial=> File.dirname(@file) + "/left_nav"%>
      <hr/>
      Contact Us
    </div>
    <div class="span-15 last">
      <h1><%= @page_title%></h1>
      <p>
        <%= yield %>
      </p>
    </div>

  </div>
  <%= render :partial => "/layouts/footer"%>  
</div>

</html>